boto3
requests
pydub
librosa
soundfile
numpy
scipy
tqdm
tf-keras
langchain
langchain-experimental
langchain-huggingface
langchain-text-splitters
huggingface_hub==0.26.2
matplotlib
transformers==4.46.2
wordcloud
konlpy